body {
  font-family: "Open Sans", sans-serif;
  background: #D2B48C; }

h1, h2, h3 {
  font-family: "Lobster", cursive; }

h2 {
  color: #3046C5; }

header h2 {
  color: #CEC8FF; }

.site-footer {
  background: #D2B48C;
  padding: 20px 0; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #D2B48C; }

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px; }

.navbar {
  background-color: beige;
  border: 1px solid; }

.tab-content {
  border: 1px solid #DDD;
  border-top: none;
  padding: 10px; }

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5); }

.carousel {
  border: solid beige; }

#carouselButton {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100; }

#reserveModal .modal-header {
  background-color: #17A2B8;
  color: white; }

#loginModal .modal-header {
  background-color: #901CAD;
  color: white; }

#cafeName {
  text-align: center;
  font-size: 100px;
  color: black; }

#cart {
  color: black; }

a {
  color: inherit; }

.carouselItem img {
  width: 100%; }

.nav-tabs {
  background-color: beige; }

.tab-content {
  background-color: beige; }
